Package: shark
Version: [[version]]-[[buildNumber]]
Section: misc
Priority: extra
Architecture: all
Maintainer: Reynold S. Xin <rxin@cs.berkeley.edu>
Description: shark
Distribution: development
Depends: hive-bin (=0.9.0-shark)