Package: [[deb.pkg.name]]
Version: [[version]]-[[buildNumber]]
Section: misc
Priority: extra
Architecture: all
Maintainer: Reynold S. Xin <rxin@cs.berkeley.edu>
Description: [[name]]
Distribution: development
Depends: hive-bin (=[[hive.version]])